/*Importaciones*/


/*Globales*/
html{
  margin: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*Conteiners*/
.container-main{
  background-image: url(../images/img--lamborghini.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(15, 15, 15);
  background-blend-mode: soft-light;
  height: 648px;
  width: 100%;
}

/*Credit Card*/
.layout{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px #dadada;
}

/*SweetAlert*/
.swal-overlay {
  background-color: #0000ff23;
}

.swal-modal {
  background-color: #FFF;
  border: 3px solid #0000FF;
}

.swal-title {
  margin: 0px;
  font-size: 24px;
  font-family: 'Russo One', sans-serif;
  color: #0A0A0A;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal-text { 
  font-family: 'Noto Serif', serif;
  background-color: #0000ff15;
  padding: 17px;
  border: 1px solid #0000FF;
  display: block;
  margin: 22px;
  text-align: center;
  color: #000000;
}

.swal-footer {
  background-color: #0000ff1f;
  margin-top: 32px;
  border-top: 1px solid #0000FF;
  overflow: hidden;
}

.swal-button {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #8c8cfcc2;
  font-size: 12px;
  border: 1px solid #000000;
  color: #000000;
}
